{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>About Me</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="{% static 'img/core-img/compact-disc.png' %}" alt="">
        </div>
    </div>

       <!-- ##### Header Area Start ##### -->
       <header class="header-area">
        <!-- Navbar Area -->
        <div class="musica-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="musicaNav">

                        <!-- Nav brand -->
                        <a href="/" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="albums">Albums</a></li>
                                    <li><a href="songs">Songs</a></li>
                                    <li><a href="poems">Poems</a></li>
                                    <li><a href="#">Info/Contact</a>
                                        <ul class="dropdown">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="about">About Us</a></li>
                                            
                                            
                                            <li><a href="contact">Contact</a></li>
                                            <li><a href="admin">admin</a></li>
                                        </ul>
                                    </li>
                                    
                                    
                                    
                                </ul>

                                <!-- Social Button -->
                                <div class="top-social-info">
                                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
        <div class="bradcumbContent">
            <h2>Artist Bio</h2>
        </div>
    </div>
    <!-- bg gradients -->
    <div class="bg-gradients"></div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### About Us Area Start ##### -->
    <div class="about-us-area section-padding-100-0" style="background: url({% static 'img/bg-img/bg-pic-dark.jpg' %}); background-size:cover;">
        <div class="container">
            <div class="row">
                <!-- About Thumbnail -->
                <div class="col-12 col-lg-6">
                    <div class="about-thumbnail mb-100">
                        <img src="{% static 'img/bg-img/bg-pic-7.jpg' %}" alt="">
                    </div>
                </div>
                <!-- About Content -->
                <div class="col-12 col-lg-6">
                    <div class="about--content mb-100">
                        <h4 style="color: #fff;" >Hello, <br>It’s Rimer</h4>
                        <p style="color: #fff; opacity: 0.96;" >Currently based in Guwahati, Assam. I'm a passionate musician/writer. I've been     working on music since the past two years and on more than one occasions, I confess, without exaggeration, it has saved my life. 
                            <br><br>

                            I began writing because I didn't know how else I could talk about some otherwise shocking things. My music often deals with themes of generational hatred, suicide, mental illnesses, societal atrocities, class difference and (on brighter days,) self worship & love. Most of stuff is born out of a rather unhappy place in me and paradoxically enough, from a place of extreme self belief . I aspire to write for those who can't. I want to be the voice of those whose voices are unheard. 
                            <br><br>
                            My influences vary from extreme subgenres of metal to poppy commercial music. My intentions vary from saving lives to showcasing glimpses of the afterlife. Currently flicking the pen to form rap verses. The future holds a lot more.
                            <br><br>
                            This website is just an attempt to preserve my works outside of social media.</p>
                        <!-- Key Notes -->
                        <ul class="key-notes">
                            <li style="color: #fff; opacity: 0.8;" ><div class="check"><img src="{% static 'img/core-img/check.png' %}" alt=""></div> Donec id purus eu lectus imperdiet varius</li>
                            <li style="color: #fff; opacity: 0.8;" ><div class="check"><img src="{% static 'img/core-img/check.png' %}" alt=""></div> Id purus eu lectus imperdiet var</li>
                            <li style="color: #fff; opacity: 0.8;" ><div class="check"><img src="{% static 'img/core-img/check.png' %}" alt=""></div> Donec id purus eu lectus imperdiet varius</li>
                            <li style="color: #fff; opacity: 0.8;" ><div class="check"><img src="{% static 'img/core-img/check.png' %}" alt=""></div> Id purus eu lectus imperdiet var</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### About Us Area End ##### -->

    <!-- ##### Career Timeline Area Start ##### -->
    <div class="career-timeline-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>My Life &amp; career</h2>
                        <h6>Sed porta cursus enim, vitae maximus felis luctus iaculis.</h6>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <!-- Single Timeline Area -->
                    <div class="single-timeline-area d-flex">
                        <!-- Timeline Date -->
                        <div class="timeline-date">
                            <h2>17 <span>July 1983</span></h2>
                        </div>
                        <!-- Timeline Content -->
                        <div class="timeline-content">
                            <h5>My childhood</h5>
                            <p>Nulla facilisi. Donec id purus eu lectus imperdiet varius. Curabitur consectetur nunc sem, vitae cursus enim tempor eget. Praesent pellentesque nisi urna, sit amet suscipit ligula posuere id. Aenean id tortor vel quam ornare gravida. Phasellus luctus feugiat nunc, quis vulputate ipsum convallis quis. Integer vel nulla erat. Donec erat metus, luctus quis maximus quis, volutpat eu tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </div>
                    </div>

                    <!-- Single Timeline Area -->
                    <div class="single-timeline-area d-flex">
                        <!-- Timeline Date -->
                        <div class="timeline-date">
                            <h2>25 <span>May 2004</span></h2>
                        </div>
                        <!-- Timeline Content -->
                        <div class="timeline-content">
                            <h5>Early career years</h5>
                            <p>Nulla facilisi. Donec id purus eu lectus imperdiet varius. Curabitur consectetur nunc sem, vitae cursus enim tempor eget. Praesent pellentesque nisi urna, sit amet suscipit ligula posuere id. Aenean id tortor vel quam ornare gravida. Phasellus luctus feugiat nunc, quis vulputate ipsum convallis quis. Integer vel nulla erat. Donec erat metus, luctus quis maximus quis, volutpat eu tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </div>
                    </div>

                    <!-- Single Timeline Area -->
                    <div class="single-timeline-area d-flex">
                        <!-- Timeline Date -->
                        <div class="timeline-date">
                            <h2>08 <span>May 2007</span></h2>
                        </div>
                        <!-- Timeline Content -->
                        <div class="timeline-content">
                            <h5>First Album Release</h5>
                            <p>Nulla facilisi. Donec id purus eu lectus imperdiet varius. Curabitur consectetur nunc sem, vitae cursus enim tempor eget. Praesent pellentesque nisi urna, sit amet suscipit ligula posuere id. Aenean id tortor vel quam ornare gravida. Phasellus luctus feugiat nunc, quis vulputate ipsum convallis quis. Integer vel nulla erat. Donec erat metus, luctus quis maximus quis, volutpat eu tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </div>
                    </div>

                    <!-- Single Timeline Area -->
                    <div class="single-timeline-area d-flex">
                        <!-- Timeline Date -->
                        <div class="timeline-date">
                            <h2>30 <span>May 2009</span></h2>
                        </div>
                        <!-- Timeline Content -->
                        <div class="timeline-content">
                            <h5>My First Live Concert</h5>
                            <p>Nulla facilisi. Donec id purus eu lectus imperdiet varius. Curabitur consectetur nunc sem, vitae cursus enim tempor eget. Praesent pellentesque nisi urna, sit amet suscipit ligula posuere id. Aenean id tortor vel quam ornare gravida. Phasellus luctus feugiat nunc, quis vulputate ipsum convallis quis. Integer vel nulla erat. Donec erat metus, luctus quis maximus quis, volutpat eu tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="timeline-btn text-center mt-100">
                        <a href="/" class="btn musica-btn">Home</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Side Thumbs -->
        <div class="first-img">
            <img src="{% static 'img/bg-img/man.png' %}" alt="">
        </div>
        <div class="second-img">
            <img src="{% static 'img/bg-img/microphone.png' %}" alt="">
        </div>
    </div>
    <!-- ##### Career Timeline Area End ##### -->

    <!-- ##### Discography Area Start ##### -->
    
    <!-- ##### Discography Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <div class="musica-cta-area section-padding-100 bg-img bg-overlay2" style="background-image: url({% static 'img/bg-img/bg-8.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content">
                        <div class="cta-text">
                            <span>Give Us Feedback</span>
                            <h2>Contact Us</h2>
                            
                        </div>
                        <div class="cta-btn mt-30">
                            <a href="contact" class="btn musica-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0" style="background-image: url({% static 'img/bg-img/footer-bg-pic2.jpg' %}); background-size:cover;">
        <div class="container-fluid">
            <div class="row">

                <!-- Footer Widget Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="footer-widget-area mb-100">
                        <a href="#"><img src="{% static 'img/core-img/logo2.png' %}" alt=""></a>
                        <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Website Developed By Shayan <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://shayan-cyber.github.io/portfolio/" target="_blank">Shayan-Dev</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-xl-2">
                    <div class="footer-widget-area mb-100">
                        <div class="widget-title">
                            <h4 style="color: #fff; opacity:0.93;">Arts</h4>
                        </div>
                        <nav>
                            <ul class="footer-nav">
                                <li><a href="albums" style="color: #fff; opacity:0.6;">Albums</a></li>
                                <li><a href="songs" style="color: #fff; opacity:0.6;">Songs</a></li>
                                <li><a href="poems" style="color: #fff; opacity:0.6;">Poems</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-xl-2">
                    <div class="footer-widget-area mb-100">
                        <div class="widget-title">
                            <h4 style="color: #fff; opacity:0.93;">Info/Contact</h4>
                        </div>
                        <nav>
                            <ul class="footer-nav">
                                <li><a style="color: #fff; opacity:0.6;" href="about">About us</a></li>
                                <li><a style="color: #fff; opacity:0.6;" href="contact">Contact</a></li>
                                <li><a style="color: #fff; opacity:0.6;" href="admin">Admin</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-4 col-xl-2">
                    <div class="footer-widget-area mb-100">
                        <div class="widget-title">
                            <h4 style="color: #fff; opacity:0.9;">Social</h4>
                        </div>
                        <nav>
                            <ul class="footer-nav">
                                <li><a style="color: #fff; opacity:0.6;" href="#">Facebook</a></li>
                                <li><a style="color: #fff; opacity:0.6;" href="#">Twitter</a></li>
                                
                                <li><a style="color: #fff; opacity:0.6;" href="#">Instagram</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                

            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>